<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        ngModel
        name="password"
        required
        minlength="4"
        #password="ngModel"
      />
    </div>

    <button class="button">Login</button>
  </div>
  @if (email.invalid && email.touched ) {
  <p class="error">Please enter a valid email.</p>
  } @if(password.invalid && password.touched) {
  <p class="error">Password is required.</p>
  }

  <p>
    Don't have an account?
    <a routerLink="/signup" class="signup-link">Sign up</a>
  </p>
</form>
