<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Welcome on board!</h2>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <div class="control">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      name="email"
      [formControl]="form.controls['email']"
    />
    @if (getEmailInValid()) {
    <p class="error">Email is invalid</p>
    }
  </div>

  <div class="control-row">
    <div class="control">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        formControlName="password"
      />
      @if (getPasswordInValid()) {
      <p class="error">password is required and must contain number</p>
      }
    </div>

    <div class="control">
      <label for="confirm-password">Confirm Password</label>
      <input
        id="confirm-password"
        type="password"
        name="confirm-password"
        formControlName="confirmPassword"
      />
      
      @if (getPasswordsMatch()) {
      <p class="error">Passwords do not match</p>
      }
    </div>
  </div>

  <p class="form-actions">
    <button type="reset" class="button button-flat">Reset</button>
    <button type="submit" class="button">Sign up</button>
  </p>
</form>
