<app-header></app-header>
<main class="main">
  <ul id="users">
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectedUser($event)"></app-user>
    </li> -->
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [isSelected]="user.id === selectedUser?.id"
        (select)="onSelectedUser($event)"
      ></app-user>
    </li>
    }
  </ul>
  <div>
    @if (selectedUser) {
    <app-tasks [user]="selectedUser"></app-tasks>
    }@else {
    <p>Please select a user</p>
    }
    <!-- <app-tasks *ngIf="selectedUser; else fallback;"  [name]="selectedUser!"></app-tasks>
    <ng-template #fallback>
      <p id="fallback">Please select a user</p>
    </ng-template> -->
  </div>
</main>

<router-outlet />
